body {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffff;
    font-size: 13px;   
}
/* Css menu burger */
#menu {

    height: 100vh;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
    transition: all 0.7s ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 1100;
    background: #AC2222;
}
@media screen and (min-width: 762px) {
    #menu { 
        height: 100vh;
    }  
}

#menu.open {
    opacity: 1;
    visibility: visible;
}
#menu.open li:nth-child(1) {
    animation-delay: 0.1s;
}
#menu.open li:nth-child(2) {
    animation-delay: 0.2s;
}
#menu.open li:nth-child(3) {
    animation-delay: 0.3s;
}
#menu.open li:nth-child(4) {
    animation-delay: 0.4s;
}
#menu.open li:nth-child(5) {
    animation-delay: 0.5s;
}
#menu.open li:nth-child(6) {
    animation-delay: 0.6s;
}
#menu.open li:nth-child(7) {
    animation-delay: 0.7s;
}
#menu.open li:nth-child(8) {
    animation-delay: 0.8s;
}
#menu.open li:nth-child(9) {
    animation-delay: 0.9s;
}
#menu.open li:nth-child(10) {
    animation-delay: 1s;
}
#menu.open li {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}
#menu ul:hover a {
    opacity: 0.5;
}
#menu ul a {
    -webkit-transform: translateZ(0);
    transition: opacity 0.3s ease-in-out;
}
#menu ul a:hover {
    opacity: 1;
}
#menu .main-nav {

    position: fixed;
    top: 10%;
    height: 100vh;
    width: 100vw;
}
#menu .main-nav ul li {
    list-style: none;
}

/* Page menu */
#menu .main-nav a {
    color: white;
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
}
#menu .main-nav a:first {
    padding-top: 0;
}
#menu .menu-footer {
    padding: 2rem;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    background-color: #AC2222;
}
.footer-nav {
    font-size: 20px;
    color: white;
}
#menu .menu-footer ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu .menu-footer ul li {
    display: inline;
    margin: 0 1rem;
}
#menu .menu-footer a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.toggle-menu {
    
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 50px;
    outline: none;
    padding: 0;
    pointer-events: initial;
    position: relative;
    vertical-align: middle;
    width: 50px;
    z-index: 1110;
}
.toggle-menu span {
    background-color: #fff;
    content: "";
    display: block;
    height: 2px;
    left: calc(50% - 25px);
    position: absolute;
    top: calc(50% - 0px);
    transform-origin: 50% 50%;
    transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
    width: 23px;
}
.toggle-menu span:before, .toggle-menu span:after {
    background-color: #fff;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    transform-origin: 50% 50%;
    transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
    width: 15px;
}
.toggle-menu span:before {
    top: 7px;
}
.toggle-menu span:after {
    top: -7px;
}
.toggle-menu.active span {
    background-color: transparent;
    transition: background 0.2s ease-out;
}
.toggle-menu.active span:before, .toggle-menu.active span:after {
    transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
}
.toggle-menu.active span:before {
    top: 0;
    transform: rotate3d(0, 0, 1, -45deg);
}
.toggle-menu.active span:after {
    top: 0;
    transform: rotate3d(0, 0, 1, 45deg);
}


/* Css du logo dans la nav */
.logo img {
    width: 85px;
    height: 85px;
    margin-left: -16.66666%;
}
#header {
    margin-left: 15px;
}
#nav{
    height: 100px;
    align-items: center;
    text-align: center;
    background: black;
     
}
/* Partie product */
.production img {
    height: 100vh;
    object-fit: contain;
    top: 0;
    position: absolute;
}
/* bloc pour les horaires */
.opening {
    background-color: black; 
}
 .opening p {
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 25px; 
    letter-spacing: 2px;
}
/* La présentation du restaurant */
.content img {
    margin: 0px -12px;
    width: 100%;
}

h1 {
    font-weight: 600;
    font-size: 20px;
}
.title p {
    font-weight: 600;
    font-size: 20px;
}
.description {
    margin: 15px 0px;
    
}
.design {
    width: 75px;
    height: 2px;
    background: black;
    margin-top: 0;
    
}
.figure {
    background: black;
    margin: 30px 20px;
    padding: 15px;
    border-radius: 10px;
    color: white;
    
}
.figure img {
    margin: 5px 0;
    border-radius: 10px;
}
.figcaption {
    color: #AC2222;
    text-align: center;
    margin-top: 5px;
}
.figcaption p {
    color: white;
    text-align: center;
}
/* carousel */
.carousel-control-next-icon{
    color: white;
}
/* suggestion */
.suggestion {
    background-color: black;
    padding: 20px;
    margin: 0;
   text-align: center;
}
h2 {
    font-size: 15px;
    color: #AC2222;
    
}
.dashed {
    opacity: 1;
    color: white;
    border: 0.5px dashed;   
}
.suggestion p {
    color: white;
    letter-spacing: 2px;
    font-size: 12px;
    
}



/* témoignages */
.body {
    width: 210px;
    height: 110px;
    margin: auto;
    border: none;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    border-radius: 10px;
    align-items: center;
    position: relative;
}
.image img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0px 100px; 
    position: absolute;
    top: -25px;
    left: -72px;
    
}
.body p {
    font-size: 12px;
    padding: 30px; 
    text-align: left;
    color: white;
}
h5 {
    color: #AC2222;
    font-size: 15px;
    margin: 25px 5px;
    text-align: center;
    padding: 0;
   
}
.testimonial {
    background-color: black;
    margin: 0;
    padding: 15px;
}
#con {
    background-image: url('/images/testimonial.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
   
}

/* footer */
.content2 {
    width: 100%;
    margin-bottom: 0;
    height: auto;
    justify-content: center;
    padding: 50px 0 100px;
    background: black;
    border-top: 1px solid black;
    color: white;
}
.bloc {
    text-align: center; 
}
.bloc a {
    text-decoration: none;
    color: white;
    border-right: 1px solid;
    padding: 4px;
    font-size: 15px;
}
.bloc i {
    font-size: 15px;
    margin: 3px;
    
}

.color {
    color: #AC2222;
}

/* ----------- PAGE DE RESERVATION -------------------*/
.fond{
    height: 100vh;
    width: 50%;
    margin: 0;
}
/* .bon {
    height: 100vh;
    width: 100%;
    
} */
.reservation {
    background-color: black;
    height: 350px;
    width: 50%;    
    margin: 15px 15px;
    border-radius: 10px;
    padding: 20px;
    
    
} 
