body {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffff;
    font-size: 13px;
}

.container-fluid {
    background-color: black;
    width: 100%;
}
/* Css menu burger */
#menu {
    
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
    transition: all 0.7s ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 1100;
}
@media screen and (min-width: 762px) {
    #menu { 
        height: 100px;
    }  
}

#menu.open {
    opacity: 1;
    visibility: visible;
}
#menu.open li:nth-child(1) {
    animation-delay: 0.1s;
}
#menu.open li:nth-child(2) {
    animation-delay: 0.2s;
}
#menu.open li:nth-child(3) {
    animation-delay: 0.3s;
}
#menu.open li:nth-child(4) {
    animation-delay: 0.4s;
}
#menu.open li:nth-child(5) {
    animation-delay: 0.5s;
}
#menu.open li:nth-child(6) {
    animation-delay: 0.6s;
}
#menu.open li:nth-child(7) {
    animation-delay: 0.7s;
}
#menu.open li:nth-child(8) {
    animation-delay: 0.8s;
}
#menu.open li:nth-child(9) {
    animation-delay: 0.9s;
}
#menu.open li:nth-child(10) {
    animation-delay: 1s;
}
#menu.open li {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}
#menu ul:hover a {
    opacity: 0.5;
}
#menu ul a {
    -webkit-transform: translateZ(0);
    transition: opacity 0.3s ease-in-out;
}
#menu ul a:hover {
    opacity: 1;
}
#menu .main-nav {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    height: 100vh;
    width: 100vw;
    background: #de4152;
    
    
}
@media screen and (max-width: 762px) {
    #menu .main-nav {
        top: 2%;
        transform: translateY(-10%);
    }
}
@media screen and (min-width: 360px){
    #menu .main-nav {
        top:  1%;     
        width: 100vw;
        height: 100vh;
    }
}
#menu .main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* Page menu */
#menu .main-nav a {
    color: black;
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
}
#menu .main-nav a:first {
    padding-top: 0;
}
#menu .menu-footer {
    padding: 2rem;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}
#menu .menu-footer ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu .menu-footer ul li {
    display: inline;
    margin: 0 1rem;
}
#menu .menu-footer a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.toggle-menu {
    
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 50px;
    outline: none;
    padding: 0;
    pointer-events: initial;
    position: relative;
    vertical-align: middle;
    width: 50px;
    z-index: 1110;
}
.toggle-menu span {
    background-color: #fff;
    content: "";
    display: block;
    height: 2px;
    left: calc(50% - 25px);
    position: absolute;
    top: calc(50% - 0px);
    transform-origin: 50% 50%;
    transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
    width: 23px;
}
.toggle-menu span:before, .toggle-menu span:after {
    background-color: #fff;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    transform-origin: 50% 50%;
    transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
    width: 15px;
}
.toggle-menu span:before {
    top: 7px;
}
.toggle-menu span:after {
    top: -7px;
}
.toggle-menu.active span {
    background-color: transparent;
    transition: background 0.2s ease-out;
}
.toggle-menu.active span:before, .toggle-menu.active span:after {
    transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
}
.toggle-menu.active span:before {
    top: 0;
    transform: rotate3d(0, 0, 1, -45deg);
}
.toggle-menu.active span:after {
    top: 0;
    transform: rotate3d(0, 0, 1, 45deg);
}


/* Css du logo dans la nav */
.logo img {
    width: 85px;
    height: 85px;
    margin-left: -16.66666%;
}
.row{
    height: 110px;
    align-items: center;
    text-align: center;
    margin-left: 10px;
}
/* bloc pour les horaires */
.container {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;  */
    background-color: black;
}
 .opening p {
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 25px; 
    letter-spacing: 2px;
}
/* La présentation du restaurant */
.content{
    margin-top: -16px;
}
h1 {
    font-weight: 600;
    font-size: 20px;
}
.title p {
    font-weight: 600;
    font-size: 20px;
}
.description {
    margin: 15px 15px;
    
}
.design {
    width: 75px;
    height: 2px;
    background: black;
    margin-top: 0;
    
}
figure {
    background: black;
    margin: 30px 20px;
    padding: 15px;
    border-radius: 10px;
    
}
figure img {
    margin: 5px 0;
    border-radius: 10px;
}
figcaption {
    color: #AC2222;
    text-align: center;
    margin-top: 5px;
}
figcaption p {
    color: white;
    text-align: center;
}
.box {
    /* Je vais devoir faire le responsive de mes de tout les blocs de la description */
}